<img src="https://i.ibb.co/1MPXBQZ/ringodata-banner-v2.jpg" width="200"/>


---
-  강의 및 추가 자료 링크
- 강의 링크: [Python 강의](#)

-  소셜 미디어 및 연락처
  - 저자 SNS: [instagram](https://www.instagram.com/ringo_data/?igsh=MTlrdW4xMzZvNTBtdw%3D%3D), [LinkedIn](https://www.linkedin.com/in/ringokwon/)
  - 이메일: ringo.data1@gmail.com

---

# Filtering
- pd.DataFrame 에서 Filtering 은 조건에 부합(Boolean 값이 True)하는 row 만 남기는 과정
```python
df[조건]
# boolean-series:[True, False, ..., True]
```

In [1]:
# 예시
import pandas as pd

# 예제 데이터프레임 생성
data = {
    'Name': ['철수', '영희', '흥민', '범근'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago']
}

df = pd.DataFrame(data)

In [2]:
df

  Name  Age         City
0   철수   25     New York
1   영희   30  Los Angeles
2   흥민   35     New York
3   범근   40      Chicago

In [4]:
# df.Age >  30; age_over_30

df
con = df.Age > 30

df['age_over_30'] = con # 새로운 컬럼 추가

In [5]:
con

0    False
1    False
2     True
3     True
Name: Age, dtype: bool

In [6]:
df

  Name  Age         City  age_over_30
0   철수   25     New York        False
1   영희   30  Los Angeles        False
2   흥민   35     New York         True
3   범근   40      Chicago         True

In [7]:
# filter result

df[con] # 조건에 부합하는 로우만 출력

  Name  Age      City  age_over_30
2   흥민   35  New York         True
3   범근   40   Chicago         True

In [ ]:
df[ df.Age > 30 ]

  Name  Age      City  age_over_30
2   흥민   35  New York         True
3   범근   40   Chicago         True

## between(), isin() , isna()
```python
#from_n 이상, to_n 이하
df['col'].between(from_n,to_n)

# 특정 열(col)의 값이 주어진 목록(['item1', 'item2'])에 포함되어 있는지 여부
df['col'].isin(['item','item'])

# 특정 열(col)의 값이 결측치(NA)일 경우 True, 아닐 경우 False를 반환
df['col'].isna()


```

In [9]:
#titannic btw age

import seaborn as sns
df = sns.load_dataset('titanic')

In [10]:
df.head() # 20 이상, 22 이하, # .between(20, 22)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [11]:
con = df.age.between(20, 22)

In [12]:
df[con]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
37,0,3,male,21.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
51,0,3,male,21.0,0,0,7.8000,S,Third,man,True,NaN,Southampton,no,True
56,1,2,female,21.0,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0,3,male,21.0,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
840,0,3,male,20.0,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
861,0,2,male,21.0,1,0,11.5000,S,Second,man,True,NaN,Southampton,no,False
876,0,3,male,20.0,0,0,9.8458,S,Third,man,True,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True

In [13]:
df[con].age.value_counts()

age
22.0    27
21.0    24
20.0    15
20.5     1
Name: count, dtype: int64

In [14]:
#isin embarked

df.embarked.value_counts()

embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [15]:
con = df.embarked.isin(['S', 'C']) # 리스트로 감싸야
df[con].embarked.value_counts()

embarked
S    644
C    168
Name: count, dtype: int64

In [19]:
#isna deck ~ 사용: 반대로

df.deck.value_counts() # 결측치라는 null/NaN 값은 나오지 않음
df.deck.value_counts(dropna = False) # 결측치 포함

deck
NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: count, dtype: int64

In [ ]:
con = df.deck.isna()
df[con]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df[~con] #부정

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
df.deck.isna()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: deck, Length: 891, dtype: bool

In [ ]:
~df.deck.isna()

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: deck, Length: 891, dtype: bool

## and(&), or(|)
- 두 개 이상의 조건을 결합
  - and: 모두 True -> True
  - or: 하나라도 True -> True

In [20]:
 # True or False

 True and False

False

In [ ]:
True or False

True

In [ ]:
True & False # 기호로 대체 가능

False

In [ ]:
True | False

True

In [21]:
df = pd.DataFrame({'num' : [1,2,3,4,5,6,7,8,9]})

In [22]:
df

   num
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9

In [23]:
df['col_1'] = df.num >= 6
df['col_2'] = df.num >= 3
df['col_and'] = df.col_1 & df.col_2
df['col_or'] = df.col_1 | df.col_2
df

   num  col_1  col_2  col_and  col_or
0    1  False  False    False   False
1    2  False  False    False   False
2    3  False   True    False    True
3    4  False   True    False    True
4    5  False   True    False    True
5    6   True   True     True    True
6    7   True   True     True    True
7    8   True   True     True    True
8    9   True   True     True    True

# Exercise
- 일시정지 후 스스로 문제를 풀어보고 강의를 수강해 주세요

1. 연습문제: 타이타닉 데이터셋 필터링
- 문제:아래는 타이타닉 호 승객 데이터에 대한 간략한 설명과 함께 필터링 작업을 수행하는 문제입니다. Seaborn 라이브러리를 사용하여 타이타닉 데이터셋을 불러온 후, 다음 작업을 수행하세요.
  - class가 'First'이고, age가 30 이상인 승객들의 데이터를 필터링하세요.
  - survived가 1(생존)이거나 embark_town이 'Southampton'인 승객들의 데이터를 필터링하세요.
  - fare가 100 이상이고, sex가 'female'인 승객들의 데이터를 필터링하세요.

In [37]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [38]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
# class가 'First'이고, age가 30 이상인 승객들의 데이터를 필터링하세요.

In [56]:
df[df['class'] == 'First'][df['age'] > 30][['class', 'age']]

<ipython-input-56-477c2ee2bd05>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['class'] == 'First'][df['age'] > 30][['class', 'age']]

     class   age
1    First  38.0
3    First  35.0
6    First  54.0
11   First  58.0
30   First  40.0
..     ...   ...
862  First  48.0
867  First  31.0
871  First  47.0
872  First  33.0
879  First  56.0

[125 rows x 2 columns]

In [ ]:
# survived가 1(생존)이거나 embark_town이 'Southampton'인 승객들의 데이터를 필터링하세요.

In [59]:
df['survived'].value_counts()
df['embark_town']

0      Southampton
1        Cherbourg
2      Southampton
3      Southampton
4      Southampton
          ...
886    Southampton
887    Southampton
888    Southampton
889      Cherbourg
890     Queenstown
Name: embark_town, Length: 891, dtype: object

In [63]:
con1 = df['survived'] == 1
con2 = df['embark_town'] == 'Southampton'
df[con1 | con2][['survived','embark_town']]

     survived  embark_town
0           0  Southampton
1           1    Cherbourg
2           1  Southampton
3           1  Southampton
4           0  Southampton
..        ...          ...
884         0  Southampton
886         0  Southampton
887         1  Southampton
888         0  Southampton
889         1    Cherbourg

[769 rows x 2 columns]

In [ ]:
# fare가 100 이상이고, sex가 'female'인 승객들의 데이터를 필터링하세요.

In [64]:
con3 = df['fare'] >= 100
con4 = df['sex'] == 'female'
df[con3 & con4][['fare','sex']]

         fare     sex
31   146.5208  female
88   263.0000  female
195  146.5208  female
215  113.2750  female
258  512.3292  female
268  153.4625  female
269  135.6333  female
297  151.5500  female
299  247.5208  female
306  110.8833  female
307  108.9000  female
311  262.3750  female
318  164.8667  female
319  134.5000  female
325  135.6333  female
334  133.6500  female
337  134.5000  female
341  263.0000  female
380  227.5250  female
393  113.2750  female
435  120.0000  female
498  151.5500  female
537  106.4250  female
581  110.8833  female
609  153.4625  female
689  211.3375  female
700  227.5250  female
708  151.5500  female
716  227.5250  female
730  211.3375  female
742  262.3750  female
763  120.0000  female
779  211.3375  female
856  164.8667  female

In [ ]:
# class가 'First'이고, age가 30 이상인 승객들의 데이터를 필터링하세요.

filter1 = (df['class'] == 'First') & (df.age >= 30 )
filter1

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [ ]:
df[filter1].age.value_counts().sort_index()

age
30.0    6
31.0    5
32.0    2
33.0    4
34.0    1
35.0    9
36.0    9
37.0    3
38.0    6
39.0    5
40.0    5
41.0    1
42.0    4
43.0    1
44.0    3
45.0    5
45.5    1
46.0    2
47.0    5
48.0    5
49.0    5
50.0    5
51.0    3
52.0    4
53.0    1
54.0    4
55.0    1
56.0    4
58.0    5
60.0    3
61.0    2
62.0    3
63.0    1
64.0    2
65.0    2
70.0    1
71.0    2
80.0    1
Name: count, dtype: int64

In [ ]:
df[filter1]['class'].value_counts()

class
First     131
Second      0
Third       0
Name: count, dtype: int64

In [ ]:
# survived가 1(생존)이거나 embark_town이 'Southampton'인 승객들의 데이터를 필터링하세요.

filter2 = (df.survived == 1) | (df.embark_town == 'Southampton')
filter2

0       True
1       True
2       True
3       True
4       True
       ...
886     True
887     True
888     True
889     True
890    False
Length: 891, dtype: bool

In [ ]:
df2 = df[filter2]

In [ ]:
df2[df2.survived != 1].value_counts()

survived  pclass  sex     age   sibsp  parch  fare      embarked  class   who    adult_male  deck  embark_town  alive  alone
0         1       female  2.0   1      2      151.5500  S         First   child  False       C     Southampton  no     False    1
                  male    47.0  0      0      38.5000   S         First   man    True        E     Southampton  no     True     1
                          50.0  1      0      55.9000   S         First   man    True        E     Southampton  no     False    1
                          52.0  1      1      79.6500   S         First   man    True        E     Southampton  no     False    1
                          54.0  0      0      51.8625   S         First   man    True        E     Southampton  no     True     1
                                       1      77.2875   S         First   man    True        D     Southampton  no     False    1
                          55.0  0      0      30.5000   S         First   man    True        C     Southampton  no     True     1
                          61.0  0      0      32.3208   S         First   man    True        D     Southampton  no     True     1
                                              33.5000   S         First   man    True        B     Southampton  no     True     1
                          62.0  0      0      26.5500   S         First   man    True        C     Southampton  no     True     1
                          64.0  1      4      263.0000  S         First   man    True        C     Southampton  no     False    1
                          65.0  0      0      26.5500   S         First   man    True        E     Southampton  no     True     1
                          70.0  1      1      71.0000   S         First   man    True        B     Southampton  no     False    1
          2       female  57.0  0      0      10.5000   S         Second  woman  False       E     Southampton  no     True     1
                  male    36.5  0      2      26.0000   S         Second  man    True        F     Southampton  no     False    1
          3       female  2.0   0      1      10.4625   S         Third   child  False       G     Southampton  no     False    1
                          29.0  1      1      10.4625   S         Third   woman  False       G     Southampton  no     False    1
                  male    19.0  0      0      7.6500    S         Third   man    True        F     Southampton  no     True     1
                          25.0  0      0      7.6500    S         Third   man    True        F     Southampton  no     True     1
          1       male    47.0  0      0      52.0000   S         First   man    True        C     Southampton  no     True     1
                                              34.0208   S         First   man    True        D     Southampton  no     True     1
                  female  25.0  1      2      151.5500  S         First   woman  False       C     Southampton  no     False    1
                  male    47.0  0      0      25.5875   S         First   man    True        E     Southampton  no     True     1
                          19.0  1      0      53.1000   S         First   man    True        D     Southampton  no     False    1
                                3      2      263.0000  S         First   man    True        C     Southampton  no     False    1
                          21.0  0      1      77.2875   S         First   man    True        D     Southampton  no     False    1
                          29.0  0      0      30.0000   S         First   man    True        D     Southampton  no     True     1
                                1      0      66.6000   S         First   man    True        C     Southampton  no     False    1
                          31.0  0      0      50.4958   S         First   man    True        A     Southampton  no     True     1
                                1      0      52.0000   S         First   man    True        B     Southampton  no     False    1
                          33.0  0      0      5.0000    S         First   man    True        B     Southampton  no     True     1
                          36.0  1      0      78.8500   S         First   man    True        C     Southampton  no     False    1
                          37.0  1      0      53.1000   S         First   man    True        C     Southampton  no     False    1
                          38.0  0      1      153.4625  S         First   man    True        C     Southampton  no     False    1
                          39.0  0      0      0.0000    S         First   man    True        A     Southampton  no     True     1
                          40.0  0      0      0.0000    S         First   man    True        B     Southampton  no     True     1
                          45.0  0      0      26.5500   S         First   man    True        B     Southampton  no     True     1
                                1      0      83.4750   S         First   man    True        C     Southampton  no     False    1
                          45.5  0      0      28.5000   S         First   man    True        C     Southampton  no     True     1
                          46.0  1      0      61.1750   S         First   man    True        E     Southampton  no     False    1
          3       male    42.0  0      0      7.6500    S         Third   man    True        F     Southampton  no     True     1
Name: count, dtype: int64

In [ ]:
df2[df2.survived != 1].embark_town.value_counts()

embark_town
Southampton    427
Name: count, dtype: int64

In [ ]:
# fare가 100 이상이고, sex가 'female'인 승객들의 데이터를 필터링하세요.

fil3 = (df.fare >= 100) & (df.sex == 'female')
df3 = df[fil3]

In [ ]:
df3.fare.value_counts().sort_index()

fare
106.4250    1
108.9000    1
110.8833    2
113.2750    2
120.0000    2
133.6500    1
134.5000    2
135.6333    2
146.5208    2
151.5500    3
153.4625    2
164.8667    2
211.3375    3
227.5250    3
247.5208    1
262.3750    2
263.0000    2
512.3292    1
Name: count, dtype: int64

In [ ]:
df3.sex.value_counts()

sex
female    34
Name: count, dtype: int64

---
-  🔒 저작권 및 사용 조건 (중요)
  - **저작권 보호**: 이 강의 노트는 저작권법에 의해 엄격히 보호됩니다.
  - **무단 사용 금지**: 어떠한 형태로든 상업적 사용이 엄격히 금지됩니다.
  - **개인용도 한정**: 이 자료는 교육 목적으로만 사용이 허가되며, 개인적인 학습 외의 목적으로 사용할 수 없습니다.
  - **위반 시 조치**: 저작권법 위반 시 법적 조치가 취해질 수 있습니다.
---

<img src="https://i.ibb.co/1MPXBQZ/ringodata-banner-v2.jpg" width="200"/>